/* 防止右键菜单 */
.protected-image {
    pointer-events: none;
    user-select: none;
  }
  
  /* 视频容器 */
  .video-container {
    position: relative;
  }
  
  /* 视频遮罩层 */
  .video-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.01); /* 轻微遮罩，防止直接点击视频 */
    pointer-events: none;
  }
  
  /* 禁用视频下载 */
  video::-internal-media-controls-download-button {
    display: none;
  }
  
  video::-webkit-media-controls-enclosure {
    overflow: hidden;
  }
  
  video::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* 隐藏下载按钮 */
  }
  /* 防止右键菜单 */
.gallery-item {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  
  /* 禁用音频下载 */
  audio::-internal-media-controls-download-button {
    display: none;
  }
  
  audio::-webkit-media-controls-enclosure {
    overflow: hidden;
  }
  
  audio::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* 隐藏下载按钮 */
  }